<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <ol>           
                <li class="Accueil"><a class="LiensEnTete" href="index.html">FreeNote</a></li>
                <li class="Liens"><a class="LiensEnTete" href="seconnecter.html">Se Connecter</a></li>
                <li class="Liens"><a class="LiensEnTete" href="inscription.html">Inscription</a></li>
                <li class="Profil"><a class="LiensEnTete" href="profil.html">Profil</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <div id="DiscussionType">
            <p class="pdiscussion">Description du service</p>
            <p class="pdiscussion">Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt.</p>
        </div>
    </main>

    <footer>
        <p class="pied">copyright machin</p>
    </footer>

</body>
</html>