<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FreeNote</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0e0936faeb.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="open-book1.png">
</head>

<body>
    <header>
        <nav>
            <ol>
              <li class="Accueil"><a class="LiensVariés" href="index.html"><img src="open-book1.png">FreeNote</img></a></li>
              <li class="Liens"><a class="LiensVariés" href="seconnecter.html">Se Connecter</a></li>
              <li class="Liens"><a class="LiensVariés" href="inscription.html">Inscription</a></li>
              <li class="Profil"><a class="LiensVariés" href="profil.html">Profil</a></li>
              <li class="Profil"><a class="LiensVariés" href="aurevoir.html">Se déconnecter</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <div id="DiscussionType">
            <h1>Titre de la discussion <span class="ouvert"><i class="fas fa-check"></i></span></h1>
            <p class="messageimpair">Je fais une phrase beaucoup trop longue pour voir ce qu'il va se passer avec mon css si ca va merder ou pas</p>
            <p class="messagepair">Là il y a un truc qui merde et je ne sais pas pourquoi alors il va falloir que je le règle sinon ça va pas être joli. C'est bon ça merde plus.</p>
            <p class="messageimpair">Je fais un tout petit message</p>
            <p class="messagepair">Et un autre</p>

            <!--<p class="pdiscussion">Coactique aliquotiens nostri pedites ad eos persequendos <br>
            scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel <br>
            dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare <br>
            permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, <br>
            ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, <br>
            superati periculose per prona discedunt.</p>-->
        </div>
    </main>

    <footer>
        <p class="pied">copyright machin</p>
    </footer>

</body>
</html>
