<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FreeNote</title>
  <link rel="stylesheet" href="assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0e0936faeb.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="assets/open-book1.png">
</head>

<body>
    <header>
        <nav>
            <ol>
              <li class="Accueil"><a class="LiensVariés" href="index.html"><img src="assets/open-book1.png">FreeNote</img></a></li>
              <li class="Liens"><a class="LiensVariés" href="seconnecter.html">Se Connecter</a></li>
              <li class="Liens"><a class="LiensVariés" href="inscription.html">Inscription</a></li>
              <li class="Profil"><a class="LiensVariés" href="profil.html">Profil</a></li>
              <li class="Profil"><a class="LiensVariés" href="aurevoir.html">Se déconnecter</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <div class="DiscussionType">
            <h1>Titre de la discussion <span class="ouvert"><i class="fas fa-check"></i></span></h1>
            <p class="message">Je fais une phrase beaucoup trop longue pour voir ce qu'il va se passer avec mon css si ca va merder ou pas</p>
            <p class="message">Là il y a un truc qui merde et je ne sais pas pourquoi alors il va falloir que je le règle sinon ça va pas être joli. C'est bon ça merde plus.</p>
            <p class="message">Je fais un tout petit message</p>
            <p class="message">Et un autre</p>

            <form class="formulaires" action="blablabla" method="POST">
              <input type="text" name="username" id="username"/>
              <input type="submit" name="action" value="Poster" id="mailer">
            </form>
        </div>

        <div class="DiscussionType">

          <form class="formboutton" action="blablabla" method="POST">
            <input type="submit" name="action" value="Fermeture de la Discussion" id="mailer">
          </form>
        </div>
    </main>

    <footer>
        <p class="pied">IUT Informatique AMU site d'Aix-En-Provence<br>M3104 - Programmation Web côté serveur <br>Groupe 2A <br>ANGOT - BACCI - LECLERE</p>
    </footer>

</body>
</html>
