<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FreeNote</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e0936faeb.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="open-book1.png">
</head>

<body>
    <div id="erreur">
        <h1 class="hform">Erreur 404</h1>

        <p>Oups, une erreur est survenue !</p>
   </div>
</body>

</html>
