<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FreeNote</title>
    <link rel="stylesheet" href="assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e0936faeb.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="assets/open-book1.png">
</head>

<body>
    <header>
        <nav>
            <ol>
                <li class="Accueil"><a class="LiensVariés" href="index.html"><img src="assets/open-book1.png">FreeNote</img></a></li>
                <li class="Liens"><a class="LiensVariés" href="seconnecter.html">Se Connecter</a></li>
                <li class="Liens"><a class="LiensVariés" href="inscription.html">Inscription</a></li>
                <li class="Profil"><a class="LiensVariés" href="profil.html">Profil</a></li>
                <li class="Profil"><a class="LiensVariés" href="aurevoir.html">Se déconnecter</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <div class="Zone">
          <h1 class="hform">Description du service</h1>
          <p class="paccueil">Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt.</p>
        </div>

        <div class="Zone">
            <h1 class="hform">Discussions disponibles</h1>
            <table>
                <thead>
                    <th>Statut</th>
                    <th>Nom de la discussion</th>
                    <th>Statut</th>
                </thead>
                <tbody>
                    <tr>
                        <th><span class="ouvert"><i class="fas fa-check"></i></span></th>
                        <th><a class="LiensVariés" href="discussiontype.html">Discussion 1 </a></th>
                        <th><span class="ouvert">Ouvert</span> </th>
                    </tr>
                    <tr>
                        <th><span class="fermé"><i class="fas fa-times"></i></span></th>
                        <th><a class="LiensVariés" href="discussiontype.html">Discussion 2 </a></th>
                        <th><span class="fermé">Fermé</span> </th>
                    </tr>
                    <tr>
                        <th><span class="ouvert"><i class="fas fa-check"></i></span></th>
                        <th><a class="LiensVariés" href="discussiontype.html">Discussion 3 </a></th>
                        <th><span class="ouvert">Ouvert</span> </th>
                    </tr>
                    <tr>
                        <th><span class="fermé"><i class="fas fa-times"></i></span></th>
                        <th><a class="LiensVariés" href="discussiontype.html">Discussion 4 </a></th>
                        <th><span class="fermé">Fermé</span> </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="Zone">
          <form class="formboutton" action="blablabla" method="POST">
            <input type="submit" name="action" value="Créer une discussion" id="mailer">
          </form>
        </div>

        <div class="Zone">
          <p class="paccueil">Vous êtes administrateur, tout le fonctionnement du site est entre vos mains, faites très attention à ce que vous faites si vous craignez les remarques des utilisateurs de freenote les plus haineux.<br>
            <ul>
              <li>Vous avez le pouvoir de :</li>
              <li>- Fermer les discussion quand vous jugez la météo idéale;</li>
              <li>- Configurer freenote à l'aide d'un <span class="souligner">magnifique</span> panneau d'administration.</li>
            </ul>

        </div>
    </main>

    <footer>
        <p class="pied">IUT Informatique AMU site d'Aix-En-Provence<br>M3104 - Programmation Web côté serveur <br>Groupe 2A <br>ANGOT - BACCI - LECLERE</p>
    </footer>
</body>

</html>
