<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

    <header>
        <a href="index.html">FreeNote</a>
        <a href="profil.html" class="Bouttons">Se Connecter</a>
        <a href="formulaire.html" class="Bouttons">Inscription</a>
     </header>

</body>
</html>