<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>
        <nav>
            <ol>
                <li class="Accueil"><a href="index.html">FreeNote</a></li>
                <li class="Liens"><a href="formulaire.html">Se Connecter</a></li>
                <li class="Liens"><a href="formulaire.html">Inscription</a></li>
                <li class="Profil"><a href="profil.html">Profil</a></li>
            </ol>
        </nav>
    </header>

</body>
</html>