<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FreeNote</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="open-book1.png">
</head>

<body>

    <div class="boxreini">
        <h1 class="hform">Réinitialiser votre Mot de Passe</h1>
        <form class="modifmdpform" action="blablabla" method="POST">
            <label for="password">Nouveau Mot de Passe</label>
            <input type="password" name="password" id="password"/>

            <label for="password">Verifier votre Nouveau Mot de Passe</label>
            <input type="password" name="password" id="password"/>

            <input type="submit" name="action" value="Enregistrer les modifications" id="mailer">
        </form>
    </div>

    <footer>
        <p class="pied">copyright machin</p>
    </footer>
</body>

</html>
