<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FreeNote</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="open-book1.png">
</head>

<body>
    <header>
        <nav>
            <ol>
                <li class="Accueil"><a class="LiensEnTete" href="index.html">FreeNote</a></li>
                <li class="Liens"><a class="LiensEnTete" href="seconnecter.html">Se Connecter</a></li>
                <li class="Liens"><a class="LiensEnTete" href="inscription.html">Inscription</a></li>
                <li class="Profil"><a class="LiensEnTete" href="profil.html">Profil</a></li>
                <li class="Profil"><a class="LiensEnTete" href="aurevoir.html">Se déconnecter</a></li>
            </ol>
        </nav>
    </header>

    <div class="box">
        <h1 class="hform">Se Connecter</h1>
        <form class="formulaires" action="blablabla" method="POST">
            <label for="username">Nom d'utilisateur ou E-mail</label><br>
            <input type="text" name="username" id="username"/><br>

            <label for="password">Mot de passe</label><br>
            <input type="password" name="password" id="password"/><br>

            <input type="submit" name="action" value="Valider" id="mailer">
            <p class="textchangementform">Besoin d'un compte ? <a class="changementformulaire" href="inscription.html">S'inscrire</a></p>

        </form>
    </div>

    <footer>
        <p class="pied">copyright machin</p>
    </footer>
</body>

</html>
